{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container text-center">
    <h1>Bienvenido a mi página</h1>
    {% if user.is_authenticated %}
    <p>Usuario: {{ user.username }}</p>
    <!-- Cierre de sesión -->
    <!-- <a href="{% url 'logout'%}" class="btn btn-danger">Logout</a> -->
    {% if perms.producto.viewProducto %}
    <a href="/producto" class="btn btn-success">Producto</a>
    {% endif %}
    <a href="bodega" class="btn btn-primary">Bodega</a>
    <a href="categoria" class="btn btn-success">Categoría</a>

    {% else %}
    <p>Usuario no autenticado</p>
    <!-- Enlace para iniciar sesión -->
    <a href="{% url 'login'%}" class="btn btn-success">Login</a>
    {% endif %}
</div>
{% endblock %}
