{% extends "base.html" %}
{% block content %}
{% block title %}
Tiendas
{% endblock title %}
<div class="container text-center">
  <h1>{{ titulo }}</h1>
</div>
<div class="container">
  {% if tiendas %}
  <div class="card mb-4">
    <table class="table align-items-center mb-0">
      <thead>
        <tr>
          <th class="text-center text-secondary text-xl font-weight-bolder">ID</th>
          <th class="text-center text-secondary text-xl font-weight-bolder ps-2">Nombre de tienda</th>
          <th class="text-center text-uppercase text-secondary text-xl font-weight-bolder">Dirección de tienda</th>
          <th class="text-uppercase text-uppercase text-secondary text-xl font-weight-bolder">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for tienda in tiendas %}
        <tr>
          <td class="text-l text-center font-weight-bold mb-0">{{ tienda.id }}</td>
          <td class="text-l text-center font-weight-bold mb-0">{{ tienda.nombreTienda }}</td>
          <td class="text-l text-center font-weight-bold mb-0">{{ tienda.direccionTienda }}</td>
          <td>
            <a href="/tienda/edit/{{ tienda.id }}" class="btn btn-warning"
              ><i class="bi bi-pencil-square"></i>
            </a>
            <a href="/tienda/delete/{{ tienda.id }}" class="btn btn-danger"
              ><i class="bi bi-trash3"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="alert alert-danger text-center" role="alert">
    <h1 class="text-warning">No hay tiendas registradas</h1>
  </div>
  {% endif %}
</div>
<div class="container">
  <!-- Agregar bodega -->
  <a href="/agregarTienda" class="btn btn-success">Agregar tienda</a>
  <!-- Volver a la derecha -->
  <a href="/" class="btn btn-primary float-end">Volver</a>
</div>
{% endblock content %}
